.cards-holder {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 25px;
  padding: 25px 50px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 150px 25px 50px;  
}

.game-controls {
  display: flex;
  gap: 10px;
}

.reset {
  background-color: #950606;
}

.search-bar {
  background-color: rgb(36, 36, 36);
  border-style: solid;
  border-width: 2px;
  padding: 0 20px;
  border-radius: 20px;
  height: 30px;
  border-color: rgba(240, 248, 255, 0.267);
}